# ignore all obj and bin folders (even in subdirectories)
obj/
bin/
.vs/
*.user
lib/
/Documentation/Help
/packages/AvalonEdit
/packages/AvalonEdit.Sample
/packages/NUnit.2.6.3
/Documentation/IntelliSense
